
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    line-height: 1.6;
}

.You {
    font-weight: bold;
    font-size: larger;
}

.link-sammasidagrupp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 25%;
}

.linksammasida {
    margin: 10px;
}

ul {
    font-size: 200%;
}
#pris {
    text-shadow: 0 0 3px green;
}

#genre {
    text-shadow:0 0 3px blue;
}

#combat {
    text-shadow: 0 0 3px red;
}

h3 {
    text-align: center;
    font-size: 210%;
    border-top-style: solid;
    line-height: 2;
}

.MSQ {
    font-style: oblique;
}

#offsidaff14{ /*link box */
    min-width: auto;
    max-width: fit-content;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex: 50%;
    height: auto;
    padding: 30px;
    margin: 20px;
    background-color: rgb(173, 187, 212);
    box-shadow: 10px 10px 5px black;

}

.ff14-linkandtable, .wow-linkandtable, .gw2-linkandtable {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


h4 { /* text top på trailers */
    margin-top: 10px;
    text-align: center;
}

.ff14-trailer, .wow-trailer, .gw2-trailer {
    padding: 10px;
    display: flex;
    justify-content: center;

}

#offwow { /*link box */
    min-width: auto;
    max-width: fit-content;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex: 50%;
    height: auto;
    padding: 30px;
    margin: 20px;
    background-color: rgb(218, 188, 20);
    box-shadow: 10px 10px 5px black;
}

#offGW2 { /*link box */
    min-width: auto;
    max-width: fit-content;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex: 50%;
    height: auto;
    padding: 30px;
    margin: 20px;
    background-color: rgb(255, 156, 156);
    box-shadow: 10px 10px 5px black;
}

/* table styling start*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    flex: 50%;
}

th {
    background-color: lightgray;
}

.comment {
    text-align: left;
}
/* table styling end*/

@media screen and(max-width:1099px){
    #offsidaff14, #offwow, #offGW2 {
        flex-direction: column;

    }

}
