* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    line-height: 1.6;
}

.You {
    font-weight: bold;
    font-size: larger;
}

.link-sammasidagrupp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 25%;
}

.linksammasida {
    margin: 10px;
}

ul {
    font-size: 200%;
}
#pris {
    text-shadow: 0 0 3px green;
}

#genre {
    text-shadow:0 0 3px blue;
}

#combat {
    text-shadow: 0 0 3px red;
}

h3 {
    text-align: center;
    font-size: 210%;
    border-top-style: solid;
    line-height: 1.6;
}

.MSQ {
    font-style: oblique;
}

#offsidaff14{ /*link box */
    display: flex;
    position: absolute;
    right: 10%;
    bottom: 20%;
    min-width: fit-content;
    height: auto;
    padding: 20px;
    background-color: rgb(173, 187, 212);
    box-shadow: 10px 10px 5px black;

}

h4 {
    margin-top: 10px;
    text-align: center;
}

.ff14-trailer {
    padding: 10px;
    display: flex;
    justify-content: center;

}

#offwow { /*link box */
    display: flex;
    position: absolute;
    right: 10%;
    bottom: -60%;
    min-width: fit-content;
    height: auto;
    padding: 20px;
    background-color: rgb(218, 188, 20);
    box-shadow: 10px 10px 5px black;
}

.wow-trailer {
    padding: 10px;
    display: flex;
    justify-content: center;
}

#offGW2 { /*link box */
    display: flex;
    position: absolute;
    right: 10%;
    bottom: -140%;
    min-width: fit-content;
    height: auto;
    padding: 20px;
    background-color: rgb(255, 156, 156);
    box-shadow: 10px 10px 5px black;
}









table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

th {
    background-color: lightgray;
}

.comment {
    text-align: left;
}

