* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    line-height: 1.6;
}

.You {
    font-weight: bold;
    font-size: larger;
}

.link-sammasidagrupp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 25%;
}

.linksammasida {
    margin: 10px;
}

.MSQ {
    font-style: oblique;
}











table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

th {
    background-color: lightgray;
}

.comment {
    text-align: left;
}